@charset "UTF-8";
.income .no-padding {
  padding: 0; }
.income .no-margin {
  margin: 0; }
.income .income-num {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  height: 164px;
  min-width: 811px;
  margin-right: 20px; }
  .income .income-num .center-div {
    margin: 0 auto;
    width: 115px;
    height: 100%; }
  .income .income-num .num-title {
    font-family: PingFangSC-Light;
    font-size: 16px;
    color: #AAAAAA;
    letter-spacing: -0.39px;
    line-height: 16px;
    margin-top: 24px; }
  .income .income-num .num-style {
    font-family: PingFangSC-Medium;
    font-size: 36px;
    color: #444444;
    letter-spacing: -0.87px;
    line-height: 36px;
    margin-top: 16px; }
  .income .income-num button {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    height: 32px;
    width: 112px;
    margin-top: 16px; }
  .income .income-num button span {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #444444;
    letter-spacing: -0.39px;
    line-height: 16px; }
  .income .income-num .num-rule {
    cursor: pointer;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #5895FF;
    letter-spacing: -0.39px;
    line-height: 16px;
    margin-top: 16px;
    text-align: right;
    margin-right: 10px; }
  .income .income-num .withdraw-style {
    margin-top: 12px;
    margin-right: 10px; }
    .income .income-num .withdraw-style .want-withdraw {
      height: 32px;
      width: 132px;
      background: #5895FF;
      border-radius: 2px; }
      .income .income-num .withdraw-style .want-withdraw span {
        font-family: PingFangSC-Regular;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: -0.39px;
        line-height: 16px; }
    .income .income-num .withdraw-style .will-withdraw {
      height: 32px;
      width: 168px;
      background: #FFFFFF;
      border: 1px solid #E5E5E5;
      border-radius: 2px; }
      .income .income-num .withdraw-style .will-withdraw span {
        font-family: PingFangSC-Regular;
        font-size: 16px;
        color: #444444;
        letter-spacing: -0.39px;
        line-height: 16px; }
        .income .income-num .withdraw-style .will-withdraw span img {
          height: 12px;
          width: 12px; }
    .income .income-num .withdraw-style .already-withdraw {
      background: #4CBF4A;
      border-radius: 2px;
      height: 32px;
      width: 169px; }
      .income .income-num .withdraw-style .already-withdraw span {
        font-family: PingFangSC-Regular;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: -0.39px;
        line-height: 16px; }
.income .income-echars {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  height: 370px;
  min-width: 811px;
  margin-top: 20px;
  margin-right: 20px; }
  .income .income-echars .echars-head {
    height: 32px;
    padding: 0 26px 0 18px;
    margin-top: 16px; }
    .income .income-echars .echars-head .echars-name {
      font-family: PingFangSC-Light;
      font-size: 16px;
      color: #444444;
      letter-spacing: -0.39px;
      line-height: 32px;
      display: inline-block;
      height: 32px; }
    .income .income-echars .echars-head .echars-time {
      font-family: PingFangSC-Light;
      font-size: 16px;
      color: #444444;
      letter-spacing: -0.39px;
      line-height: 16px;
      float: right; }
.income .income-list {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  min-width: 811px;
  margin-top: 20px;
  margin-right: 20px; }
  .income .income-list .income-list-head {
    height: 32px;
    width: 100%;
    padding: 0 26px 0 18px;
    margin-top: 16px; }
    .income .income-list .income-list-head .echars-name {
      font-family: PingFangSC-Light;
      font-size: 16px;
      color: #444444;
      letter-spacing: -0.39px;
      line-height: 32px;
      display: inline-block;
      height: 32px; }
    .income .income-list .income-list-head .echars-time {
      font-family: PingFangSC-Light;
      font-size: 16px;
      color: #444444;
      letter-spacing: -0.39px;
      line-height: 16px;
      float: right; }
  .income .income-list .had-article {
    position: relative;
    margin: 20px 20px 0 20px; }
    .income .income-list .had-article .list {
      padding: 20px 0;
      border-bottom: 1px solid #E5E5E5; }
      .income .income-list .had-article .list:hover {
        background: #F4F8FF; }
        .income .income-list .had-article .list:hover .article-btns {
          display: block; }
    .income .income-list .had-article .list-img img {
      width: 184px;
      height: 104px; }
    .income .income-list .had-article .article-btns {
      position: absolute;
      right: 5px;
      top: 5px;
      display: none; }
      .income .income-list .had-article .article-btns span {
        display: inline-block;
        width: 22px;
        height: 22px;
        margin-right: 15px;
        cursor: pointer; }
      .income .income-list .had-article .article-btns .modify {
        background: url("../images/ic_list_edit.png") center center no-repeat;
        background-size: 20px; }
      .income .income-list .had-article .article-btns .delete {
        background: url("../images/ic_list_delete.png") center center no-repeat;
        background-size: 20px; }
    .income .income-list .had-article .list-info {
      margin-left: 20px;
      font-size: 16px;
      height: 104px;
      position: absolute;
      left: 204px;
      right: 0; }
      .income .income-list .had-article .list-info img {
        width: 18px;
        vertical-align: text-top; }
      .income .income-list .had-article .list-info h4 {
        color: #444444; }
      .income .income-list .had-article .list-info ul {
        margin-top: 12px;
        color: #AAAAAA; }
        .income .income-list .had-article .list-info ul li {
          margin-right: 20px; }
      .income .income-list .had-article .list-info .b-btns {
        position: absolute;
        bottom: 3px;
        left: 0;
        right: 0;
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-size: 20px;
        color: #AAAAAA;
        letter-spacing: -0.48px;
        line-height: 20px; }
        .income .income-list .had-article .list-info .b-btns .price {
          font-family: PingFangSC-Regular;
          font-size: 14px;
          color: #FFB13D;
          letter-spacing: -0.34px;
          line-height: 14px; }
        .income .income-list .had-article .list-info .b-btns .all-price {
          font-family: PingFangSC-Regular;
          font-size: 20px;
          color: #FFB13D;
          letter-spacing: -0.48px;
          line-height: 20px; }
        .income .income-list .had-article .list-info .b-btns button {
          background: #FFFFFF;
          border: 1px solid #E5E5E5;
          border-radius: 2px;
          font-family: PingFangSC-Regular;
          font-size: 16px;
          color: #444444;
          letter-spacing: -0.39px;
          line-height: 16px;
          height: 32px;
          width: 112px; }
        .income .income-list .had-article .list-info .b-btns span {
          display: inline-block;
          margin-right: 25px; }
        .income .income-list .had-article .list-info .b-btns .show-time {
          float: right;
          color: #AAAAAA;
          font-size: 16px;
          margin: 0; }
.income .demo {
  position: relative; }
.income .demo i {
  position: absolute;
  bottom: 10px;
  right: 24px;
  top: auto;
  cursor: pointer; }

#ruleModal .modal-title {
  font-family: PingFangSC-Regular;
  font-size: 20px;
  color: #444444;
  letter-spacing: -0.48px;
  line-height: 20px; }
#ruleModal .modal-dialog {
  height: 252px;
  width: 480px; }
#ruleModal .modal-header {
  text-align: center;
  border: none; }
#ruleModal .modal-body {
  padding: 10px 36px;
  font-family: PingFangSC-Light;
  font-size: 16px;
  color: #444444;
  letter-spacing: -0.39px;
  line-height: 24px; }
  #ruleModal .modal-body .rule-content {
    font-family: PingFangSC-Light;
    font-size: 16px;
    color: #444444;
    letter-spacing: -0.39px;
    line-height: 24px; }
    #ruleModal .modal-body .rule-content span {
      background: #5895FF;
      display: inline-block;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      margin-right: 15px;
      position: relative;
      top: -2px; }
#ruleModal .modal-footer {
  border: none;
  text-align: center; }
  #ruleModal .modal-footer button {
    background: #5895FF;
    border-radius: 2px;
    height: 32px;
    width: 196px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: -0.39px;
    line-height: 16px; }

#withdrawModal .modal-title {
  font-family: PingFangSC-Regular;
  font-size: 20px;
  color: #444444;
  letter-spacing: -0.48px;
  line-height: 20px; }
#withdrawModal .modal-dialog {
  height: 232px;
  width: 480px; }
#withdrawModal .modal-header {
  text-align: center;
  border: none; }
#withdrawModal .modal-body {
  padding: 10px 15px;
  font-family: PingFangSC-Light;
  font-size: 16px;
  color: #444444;
  letter-spacing: -0.39px;
  line-height: 24px; }
  #withdrawModal .modal-body input {
    padding-left: 15px;
    padding-right: 30px;
    font-family: PingFangSC-Light;
    font-size: 16px;
    letter-spacing: -0.39px;
    line-height: 16px;
    height: 44px;
    width: 448px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5; }
  #withdrawModal .modal-body span {
    float: right;
    position: relative;
    top: -33px;
    left: -15px; }
#withdrawModal .modal-footer {
  border: none;
  text-align: center; }
  #withdrawModal .modal-footer button {
    height: 32px;
    width: 196px; }
  #withdrawModal .modal-footer .cancel-button {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #444444;
    letter-spacing: -0.39px;
    line-height: 16px; }
  #withdrawModal .modal-footer .confirm-button {
    background: #5895FF;
    border-radius: 2px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: -0.39px;
    line-height: 16px; }

/*收益记录*/
.content-history .position {
  font-family: PingFangSC-Light;
  font-size: 16px;
  color: #444444;
  letter-spacing: -0.39px;
  line-height: 16px; }
.content-history .content-list {
  border: 1px solid #E5E5E5; }
  .content-history .content-list .table {
    font-family: PingFangSC-Light;
    font-size: 16px;
    color: #444444;
    letter-spacing: -0.39px;
    line-height: 16px; }
    .content-history .content-list .table .article-content {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .content-history .content-list .table thead tr th {
      border: none; }
    .content-history .content-list .table tbody tr td {
      border-top: none;
      border-bottom: 1px solid #ddd; }

.tip-addarticle {
  font-family: PingFangSC-Light;
  font-size: 16px;
  color: #AAAAAA;
  letter-spacing: -0.39px;
  line-height: 24px; }

.article-all {
  margin-top: 24px; }
  .article-all .article-detail {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    width: 320px;
    height: 580px;
    float: left;
    margin-right: 20px;
    padding: 24px 20px; }
    .article-all .article-detail .article-title {
      font-family: PingFangSC-Light;
      font-size: 16px;
      color: #444444;
      letter-spacing: -0.39px;
      line-height: 16px; }
    .article-all .article-detail input.title {
      margin-top: 12px;
      background: #FFFFFF;
      border: 1px solid #E5E5E5;
      width: 280px;
      height: 44px;
      line-height: 44px;
      padding-left: 15px; }
    .article-all .article-detail :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #AAAAAA;
      opacity: 1; }
    .article-all .article-detail ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #AAAAAA;
      opacity: 1; }
    .article-all .article-detail input:-ms-input-placeholder {
      color: #AAAAAA;
      opacity: 1; }
    .article-all .article-detail input::-webkit-input-placeholder {
      color: #AAAAAA;
      opacity: 1; }
    .article-all .article-detail .article-img {
      font-family: PingFangSC-Light;
      font-size: 16px;
      color: #444444;
      letter-spacing: -0.39px;
      line-height: 16px;
      margin-top: 20px; }
    .article-all .article-detail .article-tip-img {
      font-family: PingFangSC-Light;
      font-size: 16px;
      color: #AAAAAA;
      letter-spacing: -0.39px;
      line-height: 24px;
      margin-top: 8px; }
    .article-all .article-detail .label-img {
      width: 280px;
      height: 158px;
      background: #F6F6F6;
      text-align: center; }
    .article-all .article-detail img {
      height:158px;
      }
    .article-all .article-detail .article-price {
      font-family: PingFangSC-Light;
      font-size: 16px;
      color: #444444;
      letter-spacing: -0.39px;
      line-height: 16px;
      margin-top: 20px; }
      .article-all .article-detail .upFile {
      font-family: PingFangSC-Light;
      font-size: 16px;
      color: #444444;
      letter-spacing: -0.39px;
      line-height: 16px;
      margin-top: 20px; }
    .article-all .article-detail select {
      background: #FFFFFF;
      border: 1px solid #E5E5E5;
      margin-top: 12px;
      width: 280px;
      height: 32px;
      line-height: 32px; }
  .article-all .article-edit {
    margin-left: 340px;
    overflow: hidden; }
  .article-all .button-edit {
    padding-top: 20px;
    border-top: 1px solid #E5E5E5; }
  .article-all .keep-button {
    background: #5895FF;
    border-radius: 2px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: -0.39px;
    line-height: 32px;
    width: 112px;
    height: 32px; }
  .article-all .preview-button {
    margin-left: 20px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #444444;
    letter-spacing: -0.39px;
    line-height: 32px;
    width: 112px;
    height: 32px; }
  .article-all .note-text {
    margin-top: 20px;
    font-family: PingFangSC-Light;
    font-size: 16px;
    color: #AAAAAA;
    letter-spacing: -0.39px;
    line-height: 16px; }
    .article-all .note-text span {
      font-family: PingFangSC-Regular;
      font-size: 16px;
      color: #5895FF;
      letter-spacing: -0.39px;
      line-height: 16px; }

.echars-content {
  padding-right: 20px; }
  .echars-content .echarts-container {
    width: 46%;
    padding: 20px;
    background: #fff;
    margin-top: 15px;
    border: 1px solid #E5E5E5; }
    .echars-content .echarts-container h3 {
      font-family: PingFangSC-Light;
      font-size: 16px;
      color: #444444;
      letter-spacing: -0.39px;
      line-height: 16px;
    }
    .echars-content .echarts-container .donuts {
      margin-left: 10%; }
  .echars-content .line-container {
    background: #FFF;
    margin-top: 10px;
    padding-bottom: 30px;
    border: 1px solid #E5E5E5; }

/*# sourceMappingURL=income.css.map */
